{% include 'staffheader.html' %}
<!-- offset search area start -->
<div class="offset-search">
    <form action="#">
        <input type="text" name="search" placeholder="Sarch here...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- offset search area end -->
<!-- body overlay area start -->
<div class="body_overlay"></div>
<!-- body overlay area end -->
<!-- hero area start -->
<div class="hero-area has-color" style="height: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="hero-content">
                    <!-- <h3>Admission'20</h3> -->
                    <h1 class="mb-5"><span class="primary-color">View Course</span><b class="line-break"></b></h1>
                    <!-- <p class="text-white-50">Find Your Preferred Courses & Improve Your Skills</p> -->
                    <form action="#">
                        <div class="form-input mt-5">
                           <!--  <input type="text" name="search" required placeholder="Enter your keyword...">
                            <button class="btn btn-primary btn-round" type="submit">Seacrh</button> -->
                            <i class="fa fa-search"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero area end -->
<center>

	<form method="post">


<table class="table" style="width:500px;">
		
		<tr>
			<th>Course</th>
			<th></th>
		</tr>
		{% for row in data['course'] %}
		<tr>
			<td>{{ row['course'] }}</td>
			<td><a href="staffaddtimetable?cid={{row['course_id']}}" class="btn btn-danger">Add Time Table</a></td>
		</tr>
		{% endfor%}
	</table>
</form>
</center>

{% include 'footer.html' %}