{% include 'staffheader.html' %}
<!-- offset search area start -->
<div class="offset-search">
    <form action="#">
        <input type="text" name="search" placeholder="Sarch here...">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- offset search area end -->
<!-- body overlay area start -->
<div class="body_overlay"></div>
<!-- body overlay area end -->
<!-- hero area start -->
<div class="hero-area has-color" style="height: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="hero-content">
                    <!-- <h3>Admission'20</h3> -->
                    <h1 class="mb-5"><span class="primary-color">Add Attentence</span><b class="line-break"></b></h1>
                    <!-- <p class="text-white-50">Find Your Preferred Courses & Improve Your Skills</p> -->
                    <form action="#">
                        <div class="form-input mt-5">
                           <!--  <input type="text" name="search" required placeholder="Enter your keyword...">
                            <button class="btn btn-primary btn-round" type="submit">Seacrh</button> -->
                            <i class="fa fa-search"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero area end -->
<center>
<form method="post">	
<h1>Add Attendance</h1>
<table class="table" style="width:500px;">
	<tr>
		<th>Status</th>
		<td>
			<select class="form-control" name="status">
				<option value="PRESENT">PRESENT</option>
				<option value="ABSENT">ABSENT</option>
			</select>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2">
		<input type="submit" name="submit" value="submit" class="btn btn-primary"></td>
	</tr>
</table>
		<table class="table" style="width:500px;">
		<tr>
			<th>Sl.No</th>
			<th>Name</th>
			<th>Date</th>
			<th>Status</th>
		</tr>

		{% for row in data['view_student'] %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['first_name']}}  {{row['last_name']}}</td>
			<td>{{row['datetime']}}</td>
			<td>{{row['status']}}</td>
		</tr>
		{% endfor %}
		</table>
</center>
 <style type="text/css">
  	td,th,tr{
  		border: none!important;
  	}
  </style>
{% include 'footer.html' %}